/*
Theme: Flatfy Theme
Author: Andrea Galanti
Bootstrap Version 
Build: 1.0
http://www.andreagalanti.it
*/

/*General */

body, html {
	height: 100%;
	width: 100%;
	overflow-x:hidden;
}

::-moz-selection{background:#3498db;color:white}

::selection{background:#3498db;color:white}

.abcen{position: absolute;bottom: 8%;}

.abcen1{position: absolute;top: 20%;}

.abcen2{position: absolute; bottom: 25%;}



.fa:hover{
	color:#3498db;
}

.content-section-c {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 90px 0;
}

.glyphicon {
	margin-right: 10px;
}

.h1_home{
	font-size: 65px;
	font-family: arvo;
	font-weight: 300;
	letter-spacing: 5px;
}

.h3_home{font-weight: 300;}


.button_down img {
width: 50px;
	
}
.btn-primary {
	border-color: rgba(52, 73, 94, 0);
}

.nopadding{
	padding:0; 
	margin:0;
}

.social {
	font-size: 30px;
	text-decoration: none;
	list-style-type: none;
	color: #1abc9c; 
}

.social > a:hover {
	color: #1abc9c; 
}

.image{
	position: relative;
	display: inline-block;
}

.overlay{
	display: none;
}

.image:hover .overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;


}
/* Nav */
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0; 
	width: 100%;
	z-index: 999;
	border-radius: 0; 
}

.navbar-default {
	position: relative;
	min-height: 60px;
	width: 100%;
	z-index: 999;
	
}

.navbar-default .navbar-nav>li>a {
color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
color: #ECEBEB;
}

.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover {
color: #ECEBEB;
}

.navbar-brand {
	font-family: arvo;
	letter-spacing: 3px;
	font-weight: 400 !important;
}

.navbar-default.scrolled .navbar-nav > li > a:hover {
  color: #10d9e4;
}

.lead {
	font-size: 16px;
	font-weight: 400;
}

.logo {
	height: 200px;
	width: 200px;
}

.logo-header {
	height: 30px;
	width: 30px;
	top: 50%;

}

.intro-header {
	height: 100%; /* Full PAge */
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro/intro.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}


.content-section-a {
	background-color: #f8f8f8;
	padding: 90px 0; 
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 90px 0; 
}

.content-section-d {	
	background-color: #000000;
	padding: 0;
}

/* Morph Button: Default Styles */

.morph-button {
	position: relative;
	display: block;
	margin: 0 auto;
}
